<div class="jumbotron">
    <h1>Welcome to my AWESOME app</h1>
    <p>It uses embedded Ruby commands with HTML</p>
    <%= link_to 'About Me', home_about_path, class: 'btn btn-default' %>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>